@import "rsuite/dist/rsuite.css";

p{
    color:white;
    font-size:small;
    text-align: left;
}

.footer{
    color: white;
    font-size: x-small;
    text-align: left;
    padding: 15px;
}

#root > div > nav > div.rs-sidenav-body > ul > li{
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
}

#root > div > nav{
    color: white;
    background-color: #12416f;
}

