@import "rsuite/dist/rsuite.css";

p{
    color:white;
    font-size:small;
    text-align: left;
}

.footer{
    color: white;
    font-size: x-small;
    text-align: left;
    padding: 15px;
}


