mat-toolbar {
    background: #12416f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 260px;
    border-right: none;
    background: #12416f;
    color: white;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}
mat-expansion-panel {
    background: #12416f;
    color: white;
}
mat-panel-description{
    padding: 10px;
    color: white;
    font-size:x-small
}

mat-sidenav-container {
    height: calc(100% -120px);
}
mat-expansion-panel-header{
    color:white;
    font-size: medium;
    text-justify:auto;
    text-align: left; 
}

mat-divider  {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    
  }

.footer{
    color: white;
    font-size: x-small;
    text-align: left;
    padding: 15px;
}

p{
    color:white;
    font-size:small;
    text-align: left;
}
mat-grid-tile {
    background: white;
    border:1px solid lightgray; 
    border-left: 10px solid #12416f;
    border-left-width: 10px;
    
    
}
.my-card {
    background: white;
    width: 100%;
   
} 

h1{
    color: #12416f;
}






    
