<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" opened="true" disableClose="true">
    <mat-panel-title></mat-panel-title>
      <mat-panel-description>Desarrollado por RAFAM 2021</mat-panel-description>
    
      
    <mat-nav-list>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Presupuesto</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>CAS</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Planificación</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Contrataciones</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Portal</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Contabilidad</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Tesorería</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Bienes Físicos</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Inversión Pública</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Crédito Público</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Ingresos Públicos</mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Recursos Humanos</mat-expansion-panel-header>
      </mat-expansion-panel>
      
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content here!
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>