mat-toolbar {
    background: #12416f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #12416f;
    color: white;
    
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}
mat-expansion-panel {
    background: #12416f;
    font-size: 9;
    color: white;
}
mat-panel-description{
    color: white;
    font-size:x-small
}

mat-sidenav-container {
    height: calc(100% -120px);
}
mat-expansion-panel-header{
    color:white;
    font-size: small;
    text-justify:auto;
    text-align: left;
    
}
mat-divider  {
    display: block;
    margin: 0  !important;
    padding: 0 !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    
  }

.footer{
    color: white;
    font-size:x-small;
}



    
