
<mat-sidenav-container>
  <mat-sidenav  opened disableClose="True" fixedInViewport="True">
    <mat-panel-title></mat-panel-title>
    <mat-panel-description>
      <p align="left">Desarrollado por RAFAM 2021 <br> <br> v4.12.3</p>
    </mat-panel-description>
    <mat-divider></mat-divider>
    <br> <br>
    <img src="/assets/LogoRafam2.png" width="215" height="70">
    <mat-nav-list>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Presupuesto</mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="#"><p>Configuracion</p></mat-list-item>
          <mat-list-item routerLink="#"><p>Formulación presupuestaria</p></mat-list-item>
          <mat-list-item routerLink="#"><p>Modificación presupuestaria</p></mat-list-item>
          <mat-list-item routerLink="#"><p>Programación física</p></mat-list-item>
          <mat-list-item routerLink="#"><p>Reportes</p></mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>CAS</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Planificación</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Contrataciones</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Portal</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Contabilidad</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Tesorería</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Bienes Físicos</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Inversión Pública</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Crédito Público</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Ingresos Públicos</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>Recursos Humanos</mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-divider></mat-divider>

      <div class="footer" #footer>
        <img src="/assets/SoloLogo.png" width="25" height="25" align="left" >
        (0221)429-4484/4509 <br> pa@es.gov.ar
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<mat-grid-list cols="2" rowHeight="100px" gutterSize="15px" >
  <mat-grid-tile><h1>Nuevo Ejercicio</h1> </mat-grid-tile>
  <mat-grid-tile><h1>Anteproyecto</h1></mat-grid-tile>
  <mat-grid-tile><h1>Clasificadores primarios</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Clasificadores agregados</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Reglas presupuestarias</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Categorías programáticas</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Unidades ejecutoras</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Causas de desvíos</h1></mat-grid-tile>
  <mat-grid-tile ><h1>Tablas referenciales</h1></mat-grid-tile>
</mat-grid-list>
-->




